body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #eee;
}

.user-name-link {
    font-weight: bold;
    color: #3b5998;
}

.center-text-wrapper {
  text-align: center;
}

.center-text {
  display: inline-block;
}

.visible {

}

.invisible {
    display: none;
}