body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #eee;
}

.user-name-link {
    font-weight: bold;
    color: #3b5998;
}

.search-user-name-link {
    font-size: 2rem;
    font-weight: bold;
    color: #3b5998;
    margin-bottom: 10px;
}

.search-user-properties {
    margin: 0;
}

.message-panel {
    margin-bottom: 5px;
}

.center-text-wrapper {
  text-align: center;
}

.center-text {
  display: inline-block;
}

.visible {

}

.invisible {
    display: none;
}

.panel-less-bottom-margin {
    margin-bottom: 5px;
}

#newMessagesButton {
    display:none;
}