<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Getting Started: Serving Web Content</title>
    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/css/sidemenu.css}" rel="stylesheet" />
    <link th:href="@{/css/userprofile.css}" rel="stylesheet" />
    <link th:href="@{/css/timeline.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

    <nav th:replace="fragments/header :: header"></nav>

    <div class="container">
        <div class="row">

            <div th:replace="fragments/sidemenu :: sidemenu" />

            <div class="col-md-8">

                <div class="panel panel-default">
                    <div class="panel-body">

                        <h2 class="user-name" th:text="${displayUser.firstname} + ' ' + ${displayUser.lastname} + ' folgt'"></h2>

                    </div>
                </div>

                <div class="panel-less-bottom-margin panel panel-default" th:each="user : ${usersIFollow}">
                    <div class="panel-body">
                        <div class="user-search-results">
                            <a class="user-name-link" th:text="${user.firstname} + ' ' + ${user.lastname}" th:href="'/userprofile?userEmail=' + ${user.email}"></a>
                            <div>
                                <p class="search-user-properties">Folge ich: <span th:text="${user.iFollowCount}"></span></p>
                            </div>
                            <div>
                                <p class="search-user-properties">Folgen mir: <span id="followMeCount" th:text="${user.followMeCount}"></span></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/sockjs-client/1.0.2/sockjs.min.js}"></script>
    <script th:src="@{/js/stomp.js}"></script>
    <script th:src="@{/js/messageUpdate.js}"></script>
</body>
</html>