<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Getting Started: Serving Web Content</title>
    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/css/login.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

    <nav th:replace="fragments/header :: header"></nav>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">

                <form class="form-signin" th:action="@{/login}" th:object="${loginForm}" method="post">
                    <h2 class="form-signin-heading">Bitte einloggen</h2>
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input th:field="*{email}" type="email" id="inputEmail" class="form-control" placeholder="Email Adresse" required="true" autofocus="true" />
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input th:field="*{password}" type="password" id="inputPassword" class="form-control" placeholder="Passwort" />
                    <div class="checkbox">
                        <label>
                            <input th:field="*{rememberMe}" type="checkbox" value="remember-me" checked="true" /> Angemeldet bleiben
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                </form>

            </div>
        </div>
    </div>

    <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</body>
</html>