<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Getting Started: Serving Web Content</title>
    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/css/register.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

    <nav th:replace="fragments/header :: header"></nav>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">

                <form class="form-register">
                    <h2 class="form-register-heading">Registrieren</h2>
                    <label for="inputFirstname" class="sr-only">Vorname</label>
                    <input type="name" id="inputFirstname" class="form-control" placeholder="Vorname" required="true" autofocus="true" />

                    <label for="inputLastname" class="sr-only">Nachname</label>
                    <input type="name" id="inputLastname" class="form-control" placeholder="Nachname" required="true" autofocus="true" />

                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email Adresse" required="true" />

                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" class="form-control registerInputPassword" placeholder="Passwort" required="true"/>

                    <label for="inputPasswordRepeat" class="sr-only">Password</label>
                    <input type="password" id="inputPasswordRepeat" class="form-control" placeholder="Passwort wiederholen" required="true"/>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Registrieren</button>
                </form>

            </div>
        </div>
    </div>

    <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</body>
</html>