<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Getting Started: Serving Web Content</title>
    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/css/sidemenu.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

    <nav th:replace="fragments/header :: header"></nav>

    <div class="container">
        <div class="row">

            <div th:replace="fragments/sidemenu :: sidemenu" />

            <div class="col-md-8">

                <div class="panel panel-default message-panel">
                    <div class="panel-body">

                        <div class="page-header">
                            <h1>Nutzersuche</h1>
                        </div>

                        <div class="user-search-results">
                            <p class="user-name-link" th:each="profile : ${userProfiles}">
                                <a th:text="${profile.firstname}"></a>
                            </p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</body>
</html>
