<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Getting Started: Serving Web Content</title>
    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/css/sidemenu.css}" rel="stylesheet" />
    <link th:href="@{/css/userprofile.css}" rel="stylesheet" />
    <link th:href="@{/css/timeline.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

    <nav th:replace="fragments/header :: header"></nav>

    <div class="container">
        <div class="row">

            <div th:replace="fragments/sidemenu :: sidemenu" />

            <div class="col-md-8">

                <div class="panel panel-default" >
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="user-name" th:text="${userProfile.firstname} + ' ' + ${userProfile.lastname}"></h2>
                            </div>

                            <div class="col-md-6">
                                <button id="followButton"
                                        class="btn btn-primary pull-right btn-follow"
                                        th:attr="data-email=${userProfile.email}, data-followButtonState=*{followButtonState}"
                                        th:classappend="${followButtonState} == 'deactivated' ? invisible : visible"
                                        th:text="${followButtonState} == 'follow' ? 'Folgen' : 'Nicht mehr folgen'">

                                </button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 center-text-wrapper">
                                <a class="center-text" th:href="'/userprofile/ifollow?userEmail=' + ${userProfile.email}">Folge ich: <span th:text="${userProfile.iFollowCount}"></span></a>
                            </div>
                            <div class="col-md-6 center-text-wrapper">
                                <a class="center-text" th:href="'/userprofile/followme?userEmail=' + ${userProfile.email}">Folgen mir: <span id="followMeCount" th:text="${userProfile.followMeCount}"></span></a>
                            </div>
                        </div>

                    </div>
                </div>


                <div id="message-container">

                </div>


            </div>
        </div>
    </div>

    <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/userprofile.js}"></script>
    <script th:src="@{/webjars/sockjs-client/1.0.2/sockjs.min.js}"></script>
    <script th:src="@{/js/stomp.js}"></script>
    <script th:src="@{/js/messageUpdate.js}"></script>
    <script th:src="@{/js/userprofileTimeline.js}"></script>
</body>
</html>